// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    500px;
$on-palm:          500px;
$on-laptop:        500px;
$on-medium:        500px;
$on-large:         500px;
